footer {
    margin-top: auto;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    text-align: center; 
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.text {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
}